$navy-blue: #112e61; // identity color (from branding guide)
$powder-blue: #65B0C9; // accent color (from branding guide)
$fern: #5cb85c;
$chestnut-rose: #d9534f;
$bright-red: #ff0000;
$white: #fff;
$black: #000;

$gray-border: #ddd;
$gray-text: #ccc;

$gray:                   #222;
$gray-light:             lighten($gray, 46.7%) !default;
$gray-lighter:           lighten($gray, 93.5%) !default;
