<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% if debug %}
<!-- begin debug data
/*===========================
IMPORTANT: make changes to .html file, then run
bin/inlineemailstyles.js to update convert the CSS from complianceai.css
to inline styles
=============================*/
-->
{% endif %}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{ subject }}</title>

	<style type="text/css">
____CSS____
    </style>
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
	<tr>
		<td>
      <table id="outer-container" align="center">
        <tr><td>
          <table id="logo">
            <tr><td>
              <img src="https://s3-us-west-2.amazonaws.com/jurispect-web-assets/compliance-header-blk.png" />
            </td></tr>
          </table>
					<h1 class='center'>{{owner_first_name}} shared a folder with you.</h1>
					<p class='center'>
					{{user_msg}}
					</p>
					<div class="vertical-spacer-sm">&nbsp;</div>
					<a href="{{ url }}">
						<table class="button">
							<tr>
								<td>
									<p class='center'>Check it Out</p>
								</td>
							</tr>
						</table>
					</a>
          <div class="vertical-spacer">&nbsp;</div>
					<h5 class='link center' width="480" style="font-weight: 500;">Any questions? Please contact us:  <a href="mailto:support@compliance.ai"> support@compliance.ai</a></h5>
          <div class="vertical-spacer">&nbsp;</div>
					<table id="footer" width="600">
						 <tr>
								<td class="contact">
									 <div class="vertical-spacer-sm">&nbsp;</div>
									 <div class="center">
										 <a class="contact-link" href="{{ base_url }}" style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif ; text-decoration: none;">Visit Compliance.ai</a><br>
										 <br>
										 <div class="contact-link"><a href="{{ base_url }}/privacy">Privacy</a></div>
										 <div class="lineBorder" width="1" height="16"></div>
										 <div class="contact-link"><a href="{{ base_url }}/support">Support</a></div>
									 </div>
									 <div class="vertical-spacer-sm">&nbsp;</div>
									 <div class="center">
										 <div class="address">
												<div class="copyright">&copy;</div> 2017 Compliance.ai <div class="oval" width="2" height="2"></div> 311 California St., Suite 350, San Francisco CA 94104
										 </div>
									 </div>
									 <div class="vertical-spacer-sm">&nbsp;</div>
								</td>
						 </tr>
					</table>
        </td></tr>
      </table> <!-- end #outer-container -->
    </td>
	</tr>
	</table>
	<!-- End of wrapper table -->
</body>
</html>
