//$navy-blue: #112e61; // identity color (from branding guide)
//$powder-blue: #65B0C9; // accent color (from branding guide)
//$fern: #5cb85c;
//$chestnut-rose: #d9534f;
$notif-red: #ff3838;
$black: #000;

$gray-border: #ddd;
$gray-text: #ccc;


// palette colors from style guide:
$app-bkgd: #e9f2f4;
$compliance_ai_bkgrd: #f7fafd;
$white: #fff;
$dark-grey: #4a4a4a;
$grey: #393939;
$medium-grey: #9B9B9B;
$rando-grey: #898989;
$light-grey: #d8d8d8;
$brand-blue: #112e61;
$hover-blue: #2C6DDF;
$linkedin-blue: #0077b5;
$brand-grey: #E5E5E5;
$right-panel-blue: #49628e;
$primary-action-blue: #7f91b6;
$faded-yellow: #ffecb3;
$active-grey: #F4F4F4;
$border-line-grey: #e7e9ea;
$bottom-border-grey: #D3D1D1;
$josue-grey: #dbdde8;
$josue-darker-grey: #cfcfcf;
$josue-blue: #2254d7;
$highlight-yellow: rgba(248, 231, 28, .75);
$highlight-green: rgba(107, 255, 90, 0.25);
$icon-purple: #8b1c41;
$icon-green: #278b1c;
$beta-orange: #ff7617;
$success-green: #2ea87f;
$feedback-green: #19a400;
$status-green: #D0E7E0;
$feedback-orange: #FFA929;
$danger-red: #E16768;
$logo-blue: #4D8DCC;

// FRB colors from style guide:
$frb-dark-green: #00340f;
$frb-background-green: #dcdfde;
$frb-yellow: #EAD484;

// insights color palette from style guide:
$insights-purple: #7c13a4;
$insights-light-blue: #0086d4;
$insights-teal: #00796b;
$insights-green: #348f37;
$insights-lime: #afb513;
$insights-yellow: #fcc102;
$insights-orange: #f77c00;

$insights-heatmap-high: #f19d83;
$insights-heatmap-medium: #f8d871;
$insights-heatmap-low: #d2d57d;

// other frb styles
$frb-light-green: #005518;
$frb-yellow-active-text: #EAD484;
$frb-background-grey: #DCDFDE;

$frb-dark-green-filters-text: #092E23;
$frb-item-inside-filter-bg: #F8F8F8;

// misc colors
$right-panel-active-orange: #f5a623;
