.deadlines-panel {
  .rule-title {
    font-family: "Merriweather";
    font-size: 12px;
    margin-bottom: 5px;
  }

  .rule-deadline {
    font-family: $font-family-sans-serif;
    font-size: 12px;
  }
}
